.hood-sales-container {
  background-image: url("../../assets/images/flashSale/lookStyle.webp");
  width: 98%;
  margin: 0 auto;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
