.hood-sales-container {
  background-image: url("../../assets/images/flashSale/lookStyle.webp");
  width: 100%;
  height: 500px;
  /* color: #cad5e2; */
  /* padding-top: 50px; */
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  background-repeat: no-repeat;
  /* height: 100vh; */
  position: relative;
  /* background-position: center; */
  /* background-attachment: fixed; */
  background-size: contain;
}

.text-style h1 {
  /* font-size: 100px; */
}
.text-style h2 {
  /* color: rgba(255, 255, 240, 0.774); */
}
.text-style p {
  /* color: rgba(212, 204, 204, 0.856); */
  /* font-size: 20px; */
}
.text-style {
  /* padding: 100px; */
  
}

@media (max-width: 400px) {
  .hood-sales-container {
    /* background-color: gray; */

  }
  .text-style {
    /* padding: 50px; */
    /* color: honeydew; */
  }
  .text-style h1 {
    /* font-size: 70px; */
  }
}
