.dropdown2 {
  position: relative;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  width: 1200px;
  left: 0;
  top: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 35px 50px;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
